#marqueeStyle{
    background-color: indianred;
}
.pn{
    color:#FFFFFF;
}
.text-capitalize{
    color:#FFFFFF;
}
.sv{
    color:#FFFFFF;
}
.img-responsive{
    height: 230px;
    width: 560px;
}

